Repository github/gitignore, pull requests merged in 2018-06, with the labels that each got.

#2560 Ignore parcel-bundler cache
  Node.gitignore
Labels: needs info

#2439 Update JetBrains.gitignore.
  Global/JetBrains.gitignore
Labels: feedback given

#2570 New template file for Backup file formats
  Global/Backup.gitignore
Labels: new template

#2736 Updated for Codekit 3
  Global/CodeKit.gitignore
Labels: feedback given

#2658 maven-wrapper.jar can be removed from the source
  Maven.gitignore
Labels: feedback given
