Repository github/gitignore, pull requests merged in 2020-02, with the labels that each got.

#3176 Update concrete5 gitignore
  Concrete5.gitignore
Labels: needs info

#3274 [Python] .python-version should NOT be ignored
  Python.gitignore
Labels: feedback given

#3302 Add Umbraco V8 packages folder location
  Umbraco.gitignore
Labels: needs info

#3006 add alternative sftp settings file
  Global/SublimeText.gitignore
Labels: feedback given

#3296 Add in global metals
  Global/Metals.gitignore
Labels: feedback given, new template

#3307 Add ignore to umbraco folder
  Umbraco.gitignore
Labels: discussion wanted
