Repository github/gitignore, pull requests merged in 2021-12, with the labels that each got.

#3679 Update .gitignore for Idris 2
  Idris.gitignore
Labels: needs info

#3898 AL Language gitignore template
  Global/AL.gitignore
Labels: needs info

#3895 Remove .idea folder from VisualStudio
  VisualStudio.gitignore
Labels: needs info, idea

#3356 added file extensions when glossaries is loaded with "symbols" option
  TeX.gitignore
Labels: needs info

#3121 Update VisualStudio.gitignore
  VisualStudio.gitignore
Labels: feedback given

#3295 Update and fix WordPress gitignore
  WordPress.gitignore
Labels: discussion wanted

#3885 Add replay_pid* to Java.gitignore
  Java.gitignore
Labels: needs info

#3825 Remove nuget.config from VisualStudio.gitignore
  VisualStudio.gitignore
Labels: merge conflicts

#3871 Add .gitignore for Microsoft Business Central
  AL.gitignore
Labels: feedback given

#3873 Add files to Hugo.gitignore
  community/Golang/Hugo.gitignore
Labels: feedback given

#3832 Make not to ignore *.code-workspace
  Global/VisualStudioCode.gitignore
Labels: feedback given

#3911 [Python] Add poetry.lock
  Python.gitignore
Labels: python

#3874 Gitignore template for Beef programming language
  community/Beef.gitignore
Labels: feedback given

#3544 Add svg temporary files
  TeX.gitignore
Labels: feedback given

#3857 Add .ptc to TeX.gitignore
  TeX.gitignore
Labels: feedback given

#3752 Gnuplot ignored in TeX.gitignore
  TeX.gitignore
Labels: feedback given

#3854 Update global .gitignore template doc ID link
  README.md
Labels: needs info

#3792 Add RStudio Connect folder to R gitignore
  R.gitignore
Labels: needs info

#3777 Add template for Keil uVision
  community/embedded/uVision.gitignore
Labels: new template

#3801 Create AutoIt.gitignore
  community/AutoIt.gitignore
Labels: feedback given
