Repository github/gitignore, pull requests merged in 2025-05, with the labels that each got.

#2935 Adds .gitignore for Adventure Game Studio Projects
  AdventureGameStudio.gitignore
Labels: new template, stale

#3277 Create PlatformIO.gitignore
  Global/PlatformIO.gitignore
Labels: new template

#3455 Create Haxe.gitignore
  Haxe.gitignore
Labels: feedback given, new template

#4536 Adding Abstra to Python.gitignore
  Python.gitignore
Labels: feedback given
